* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
}

.title {
    margin: 5px;
}

.content {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.student {
    color: black;
    text-decoration: none;
    flex: 20%;
    margin-right: 12px;
    background-color: white;
    border-color: black;
    inline-size: 100%;
    box-shadow: 0px 0px 5px black;
}

.student a:hover {
    text-decoration: underline #de3545;

}

.student .link a:hover {
    text-decoration: underline black;
}

.student p {
    margin: 5px;
}

.student h4 {
    color: #de3545;
    text-transform: uppercase;
    margin: 5px;
}

.student .link {
    padding: 20px 0 10px 5px;
}

.student .link a {
    text-decoration: none;
    color: black;
}


img {
    display: flex;
    height: 60px;
    width: 60px;
    position: relative;
}

.nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7vhj;
    background-color: #ac0033;
    position: absolute;
    display: flex;
    align-items: center;
}

.barra-verticale {
    margin: 0 10px 0 10px;
    width: 1.5px;
    height: 7vh; 
    background-color: white; 
  }

.nav a {
    position: relative;
    text-decoration: none;
    color: white;
    display: flex;
    padding: 10px;
}

.nav a:hover {
    text-decoration: underline;
}

.nav p {
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 40px;
}

.content h1 {
    text-align: center;
    padding: 70px 0 10px 0;
    font-size: 30px;
}

form {
    width: 500px;
    padding: 15px;
    border: 1px solid #d3edf8;
    box-shadow: 0px 0px 10px gray;
    
}

form p {
    text-align: left;
    padding: 10px;
    
}

form p input, select {
    margin-left: 10px;
    padding: 7px;
    outline: none;
    border: none;
    background-color: #eee;
    border-radius: 30px;
}

form p input:hover, select:hover {
    border: 1px solid black;
}

form p button {
    cursor: default;
    color: white;
    text-transform: uppercase;
    width: 30%;
    height: 40px;
    margin-top: 30px;
    padding: 7px;
    outline: none;
    border: none;
    background-color: #de3545;
    border-radius: 30px;
    text-align: center;
}

form p button:hover {
    border: 2px solid black;  
    background-color: #dc1327;
}

::placeholder {
    font-size: small;
    padding-left: 7px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    text-align: left;
}

table td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #928c8c;
    color: white;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

.gg-arrow-left-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 22px
}
.gg-arrow-left-o::after,
.gg-arrow-left-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 4px
}
.gg-arrow-left-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 6px
}
.gg-arrow-left-o::before {
    width: 10px;
    height: 2px;
    bottom: 8px;
    background: currentColor
}