<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type = "text/css" href="../static/css/style.css">
    <script>
        var corsiByInsegnamentoUrl = "{{ url_for('routes.corsi_by_insegnamento') }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
</head>
<body>
    <nav>
        <img src="/static/img/logo.png" alt="logo">
        <a>{% block name %} {% endblock %}</a>
        <a href="{{ url_for('routes.index') }}">I miei esami</a>
        <a href="{{ url_for('routes.create') }}">Crea Esame</a>
        <a href="{{ url_for('routes.students', id=0) }}">Cerca Studenti</a>
        <a href="{{ url_for('routes.logout') }}">Logout</a>
    </nav>
    <br>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>