{% extends 'base.html' %}

{% block name %}
    <a href="{{url_for('routes.exam', esame_id=esame.id)}}">
        <i class="gg-arrow-left-o"></i>
    </a>
{% endblock %}

{% block content %}
<h1 class="title">{% block title %} Membri di {{esame.codice_corso}} {% endblock %}</h1>

    <div class="content">
        <table>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ruolo</th>
                <th>Rimuovi</th>
            </tr>
            <form action="{{ url_for('routes.edit_profs', esame_id=esame.id) }}" method="post" id="addForm">
                {% for doc in docenti %}
                    <tr>
                        <td><p>{{ doc.Docenti.cognome }}</p></td>
                        <td><p>{{ doc.Docenti.nome }}</p></td>
                        <td><p>{{ doc.Docenti.email }}</p></td>
                        <td><p>{{ doc.ruolo.value }}</p></td>
                        <td>{% if doc.ruolo.value == "PRESIDENTE" %}
                                <button type="button" class="btn btn-primary" disabled style="width: fit-content;">
                                    Rimuovi
                                </button>
                            {% else %}
                                <button type="button" onclick="showConfirmation('{{ doc.Docenti.id }}')" class="btn btn-primary" style="width: fit-content;">
                                    Rimuovi
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </form>
        </table>

        <a href="{{url_for('routes.add_profs', esame_id=esame.id)}}" type="button">
            Aggiungi membro
        </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>

    <script>
        function showConfirmation(docente_id) {
            Swal.fire({
                icon: 'question',
                title: 'Conferma rimozione docente',
                text: 'Confermi di voler rimuovere il docente?',
                showCancelButton: true,
                confirmButtonText: 'Conferma',
                cancelButtonText: 'Annulla'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Se la conferma è stata accettata, invia il form
                    const form = document.getElementById('addForm');
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'docente_id';
                    input.value = docente_id;
                    form.appendChild(input);
                    form.submit();
                }
            });
        }
    </script>

{% endblock %}