{% extends 'base.html' %}

{% block name %}
    <a href="{{url_for('routes.index')}}">
        <i class="gg-arrow-left-o"></i>
    </a>
{% endblock %}

{% block crea %}
    <a href="{{url_for('routes.create_prova', id=esame.id) }}">Crea Prova</a>
{% endblock %}

{% block content %}


<h1>{% block title %} Prove {{ esame.codice_corso }} {% endblock %}</h1>
<div class="content">
    {% for prova in prove %}
        <div class="student">
            <a href="{{url_for('routes.edit_prova', id=prova.id)}}" class="student">
                <h6>{{ prova.titolo }}</h6> 
            </a>
            <p class="name">DATA DELLA PROVA: {{ prova.data_inizio }} </p>
            <p>DURATA: {{ prova.durata }} minuti</p>
            <p>AULA: {{ prova.aula }}</p>
            <p>TIPO DI SCADENZA: {{ prova.tipo_scadenza.name }}</p>
            <p>TIPO VALUTAZIONE: {{ prova.tipo_voto.name }}</p>
            <p>PERCENTUALE PROVA: {{ prova.percentuale * 100 }}%</p>
            <div class="link">
                <b><a href="{{url_for('routes.student_prove', id=prova.id)}}">Lista iscritti</a></b>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}