{% extends 'base.html' %}

{% block name %}
    Ciao {{ user.nome }}
{% endblock %}

{% block content %}
    <h1 class="title">{% block title %} Esami {% endblock %}</h1>
    <div class="content">
        {% for corso in corsi %}
                <div class="student">
                    <a href="{{url_for('routes.exam', esame_id=corso.Esami.id)}}" class="student">
                    <div>
                        <p><b>A.A: {{ corso.Esami.anno_accademico }}</b></p>
                        <b>
                        <p class="name">{{ corso.Esami.codice_corso }} {{ corso.titolo }}</p>
                        </b>
                        <p>{{ corso.Esami.data_inizio }}</p>
                    </div>
                    </a>
                    <a href="{{url_for('routes.student_exam', id=corso.Esami.id)}}">Lista iscritti</a>
                </div>
        {% endfor %}
    </div>
{% endblock %}