{% extends 'base.html' %}

{% block name %}
    <a href="{{url_for('routes.index')}}">
        <i class="gg-arrow-left-o"></i>
    </a>
{% endblock %}

{% block content %}
    <h1>{% block title %} Studenti iscritti {% endblock %}</h1>
    <div class="content">
        <table>
            <tr>
              <th>Matricola</th>
              <th>Nome e Cognome</th>
              <th>Email</th>
              <th>Voto</th>
            </tr>
            {% for studente in studenti %}
            <tr>
                <td><p>{{ studente.Studenti.matricola }}</p></td>
                <td><p>{{ studente.Studenti.nome }} {{ studente.Studenti.cognome }}</p></td>
                <td><p>{{ studente.Studenti.email }}</p></td>
                <td><p>
                    {% if studente.voto is none %}
                        Da sostenere
                    {% else %}
                        {{studente.voto}}
                    {% endif %}
                </p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}