{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Students {% endblock %}</h1>
    <div class="content">
        {% for studente in studenti %}
            <div class="student">
                <p><b>{{ studente.Studenti.matricola }}</b></p>
                <b>
                    <p class="name">{{ studente.Studenti.nome }} {{ studente.Studenti.cognome }}</p>
                </b>
                <p>{{ studente.Studenti.email }}</p>
                <p>{{ studente.titolo }}</p>
                <p>Voto:
                    {% if studente.sostenuto: %}
                        {{studente.voto}}
                    {% else %}
                        Da sostenere
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}