{% extends 'base.html' %}

{% block name %}
    <a href="{{url_for('routes.index')}}">
        <i class="gg-arrow-left-o"></i>
    </a>
{% endblock %}

{% block content %}
    <h1>{% block title %} Studenti iscritti {% endblock %}</h1>
    <div class="content">
        <table>
            <tr>
                <th>Matricola</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Email</th>
                {% for prova in prove %}
                    <th>{{ prova.titolo }}</th>
                {% endfor %}
                <th>Voto</th>
            </tr>
            {% for studente in studenti %}
            <tr>
                <td><p>{{ studente['studente'].matricola }}</p></td>
                <td><p>{{ studente['studente'].cognome }}</p></td>
                <td><p>{{ studente['studente'].nome }}</p></td>
                <td><p>{{ studente['studente'].email }}</p></td>
                {% for i in studente['fatto']: %}
                    <td><p>{{ i }}</p></td>
                {% endfor %}
                <td><p>
                    {% if studente.voto is none %}
                        Da sostenere
                    {% else %}
                        {{studente.voto}}
                    {% endif %}
                </p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}