{% extends 'base.html' %}

{% block name %}
    <a href="{{url_for('routes.exam', esame_id=prova.id_esame)}}">
        <i class="gg-arrow-left-o"></i>
    </a>
{% endblock %}

{% block content %}
    <h1>{% block title %} Studenti iscritti a {{ prova.titolo }}{% endblock %}</h1>
    <div class="content">
        <table>
            <tr>
            <th>Matricola</th>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Scadenza</th>
            <th>Voto</th>
            <th>Accettato</th>
            </tr>
        {% for studente in studenti %}
        <tr>
            <td><p>{{ studente.Studenti.matricola }}</p></td>
            <td><p>{{ studente.Studenti.cognome }}</p></td>
            <td><p>{{ studente.Studenti.nome }} </p></td>
            <td><p>{{ studente.Studenti.email }}</p></td>
            <td><p>{{ studente.data_scadenza }}</p></td>
            <td>{% if studente.voto is none %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" data-matricola="{{ studente.Studenti.matricola }}">
                    Inserisci voto
                </button>
            {% else %}
                <p>{{ studente.voto }}</p>
            {% endif %}
            </td>
            <td>{% if studente.accettato is none %}
                    In attesa
                {% else %}
                    {{ studente.accettato }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>


   <!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Matricola:<h3 id="matricola"></h3></h3>
                    <input type="hidden" name="mat" id="mat">
                </div>
                <div class="modal-body">
                    <label>Voto:</label>
                    {% if prova.tipo_voto.value == 'BONUS' %}
                                <input type="number" name="voto"
                                    placeholder="0">
                                </input>
                            {% elif prova.tipo_voto.value == 'PUNTEGGIO' %}
                                <select name="voto" id="voto">
                                    <option value="ins">INS</option>
                                    {% for i in range(13)%}
                                        <option value="{{i + 18}}">{{i + 18}}</option>
                                    {% endfor %}
                                    <option value="30L">30L</option>
                                </select>
                            {% else %}
                                <select name="voto" id="voto">
                                    <option value="idoneo">IDONEO</option>
                                    <option value="non idoneo">NON IDONEO</option>
                                </select>
                    {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                        <button type="submit" class="btn btn-primary">Verbalizza</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

  <script>
    $(document).on('show.bs.modal', '#exampleModalLong', function (event) {
    var button = $(event.relatedTarget);
    var matricola = button.data('matricola');
    var modal = $(this);
    modal.find('#matricola').text(matricola);
    modal.find('#mat').val(matricola);
    });
  </script>
{% endblock %}